<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <button
        class="btn btn-primary"
        (click)="onGameStart()"
        [disabled]="buttonClicked"
      >
        Start
      </button>
      <button class="btn btn-danger" (click)="onGameStop()">Stop</button>
      <button class="btn btn-warning" (click)="onGameRestart()">Restart</button>
    </div>
  </div>
  <div class="row">
    <p>{{ number }}</p>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <app-odd [oddNumbers]="oddNumbers"></app-odd>
    </div>
    <div class="col-sm-6">
      <app-even [evenNumbers]="evenNumbers"></app-even>
    </div>
  </div>
</div>
